<div class="login-holder">
    <h2>Login</h2>
    <label>
        Username:
        <input type="text" name="username" id="username" ng-model="login.username"/>
    </label>
    <label>
        Password:
        <input type="password" name="password" id="password" ng-model="login.password"/>
    </label>
    <label>
        <input type="button" value="login" ng-click="login.doLogin()"/>
    </label>
</div>
<div>
    <label>Not registered yet? Why don't you <a ng-click="login.goRegister()">Register</a>?</label>
</div>