<div class="login-holder">
    <h2>Register</h2>
    <label>
        Username:
        <input type="text" name="username" id="username" ng-model="register.username"/>
    </label>
    <label>
        Password:
        <input type="password" name="password" id="password" ng-model="register.password"/>
    </label>
    <label>
        Repeat:
        <input type="password" name="password" id="passwordCheck" ng-model="register.passwordCheck"/>
    </label>
    <label>
        <input type="button" value="Register" ng-click="register.createUser()"/>
    </label>
</div>
<div>
    <label>Already have an account? <a ng-click="register.goLogin()">Login here</a>!</label>
</div>